<!DOCTYPE html>
<html lang="en">
<head>
  <%- head.title.toString() %>
  <%- head.meta.toString() %>
  <meta charset="UTF-8">
  <title>Rect School</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
</head>
<body>
<div id="app"><%- content %></div>
<div id="devTools"></div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>


<script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
<script src="bundle.js"></script>
</body>
</html>
